<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="https://cdn1.iconfinder.com/data/icons/technology-and-hardware-2/200/vector_66_14-512.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
                Academic System
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_docente_index') }}">Docente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_auxiliar_index') }}">Auxiliar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_oficinista_index') }}">Oficinista</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_padre_familia_index') }}">Padre de Familia</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container">
        <br><br>
        {% block body %}{% endblock %}
    </div>
    </body>
</html>
